:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  text-align: center;
}

.button {
  background-color: rgb(82, 163, 255);
  color: black;
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
} 