<div class="form-container">
  <div class="form">
    <mat-dialog-content>
      <h2 mat-dialog-title>Modifier une Formation </h2>
      <mat-form-field style="width: 100%">
        <mat-label>Libelle</mat-label>
        <input matInput [(ngModel)]="domaine.libelle" />
      </mat-form-field>
    </mat-dialog-content>
  </div>
</div>

<mat-dialog-actions class="header-with-button">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="submit()">
    Ajouter
  </button>
</mat-dialog-actions>
