<div class="form-container">
    <div class="form" >
        <mat-dialog-content >
            <h2 mat-dialog-title>Ajouter un utilisateur</h2>
            <mat-form-field style="width:100%;">
                <mat-label>Login</mat-label>
                <input matInput [(ngModel)]="utilisateur.login">
            </mat-form-field>
            <mat-form-field style="width:100%;" >
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="utilisateur.password"/>
                <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                >
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-dialog-content>
</div>
</div>

<mat-dialog-actions class="header-with-button" >
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="submitUser()">Ajouter</button>
</mat-dialog-actions>