<mat-nav-list>
    <a *ngIf="[ROLES.ADMIN].includes(role)" mat-list-item href="/utilisateurs">Utilisateurs</a>
    <a *ngIf="[ROLES.ADMIN , ROLES.UTILISATEUR].includes(role)" mat-list-item href="/formations">Formations</a>
    <a *ngIf="[ROLES.ADMIN , ROLES.UTILISATEUR].includes(role)"mat-list-item href="/formateurs">Formateurs</a>
    <a *ngIf="[ROLES.ADMIN , ROLES.UTILISATEUR].includes(role)"mat-list-item href="/participants">Participants</a>

    <a *ngIf="[ROLES.ADMIN].includes(role)" mat-list-item href="/domaines">Domaines</a>
    <a *ngIf="[ROLES.ADMIN].includes(role)"mat-list-item href="/structures">Structures</a>
    <a *ngIf="[ROLES.ADMIN].includes(role)" mat-list-item href="/profils">Profils</a>
    <a *ngIf="[ROLES.ADMIN].includes(role)"mat-list-item href="/employeurs">Employeurs</a>

    <a *ngIf="[ROLES.ADMIN , ROLES.RESPONSABLE].includes(role)"mat-list-item href="/statistics">Statistics</a>
  </mat-nav-list>
