<!---->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
<link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">     
               <div class="app-main">
               
                 <div class="app-main__outer">
                    <div class="app-main__inner">
                      
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-midnight-bloom">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Balance</div>
                                            <div class="widget-subheading">Last year expenses</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>1500</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Clients</div>
                                            <div class="widget-subheading">Total Clients Profile</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>2</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Cards</div>
                                            <div class="widget-subheading">Total Card Account </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>5</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <form id="msform">
                                 
                                    <fieldset>
                                        <h2 class="fs-title">Add User</h2>
                                 
                                        <input type="text" name="lname" placeholder="Full Name"/>
                                          <input type="text" name="email" placeholder="Email"/>
                                            <input type="text" name="cin" placeholder="CIN"/>
                                        <input type="text" name="phone" placeholder="Phone"/>
                                         <input type="text" name="pswd" placeholder="Password"/>
                                        <input type="button" name="next" class="next action-button" value="Add"/>
                                    </fieldset>
                            
                                </form>
                            
                            </div>
                        </div>
                     
                    </div>
                    </div>
        </div>
    </div>
<script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script></body>
</html>

