.container {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  color: #f44336;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  margin-top: 20px;
} 