
<ng-container *ngIf="loggedUser ; else loginTemplate" >
  <mat-toolbar class="hearder-toolbar">
    <button mat-icon-button (click)="toggleSidebar()"class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >menu</mat-icon>
    </button>
    <a class="app-title" >My App</a>
    <span class="header-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()" >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="content-container">
    <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
<ng-template #loginTemplate>
  <login-component></login-component>
</ng-template>
