
<ng-container *ngIf="loggedUser ; else loginTemplate" >
<!-- app.component.html -->
<mat-toolbar color="primary" class="header-toolbar mat-elevation-z4">
  <div class="toolbar-left">
    <button mat-icon-button (click)="toggleSidebar()" class="menu-button" aria-label="Toggle sidebar">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <span class="app-name">Gestion de formation</span>
    </a>
  </div>

  <span class="header-spacer"></span>

  <div class="toolbar-right">
    <button mat-icon-button class="logout-button" aria-label="Logout" (click)="logout()" matTooltip="Déconnexion">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="content-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="sidebarOpen" class="sidebar mat-elevation-z2">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</ng-container>
<ng-template #loginTemplate>
  <login-component></login-component>
</ng-template>
