<div class="form-container">
  <div class="form">
    <mat-dialog-content>
      <h2 mat-dialog-title>Modifier une Formation </h2>
      <mat-form-field style="width: 100%">
        <mat-label>Titre</mat-label>
        <input matInput [(ngModel)]="formation.titre" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Annee</mat-label>
        <input matInput [(ngModel)]="formation.annee" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Budget</mat-label>
        <input matInput [(ngModel)]="formation.budget" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Duree</mat-label>
        <input matInput [(ngModel)]="formation.duree" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Domaine</mat-label>
        <mat-select>
          <mat-option  *ngFor="let domaine of domainesList" [value]="domaine" [(ngModel)]="formation.domaine" >{{domaine.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>
  </div>
</div>

<mat-dialog-actions class="header-with-button">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="submit()">
    Modifier
  </button>
</mat-dialog-actions>
